<h1>Create a new Landmark</h1>

<form action="index.html" method="post">
  <p><input type="text" name="landmark[name]" id="landmark[name]"></p>
  <p><input type="text" name="landmark[year_completed]" id="landmark[year_completed]"></p>
  <input type="submit" id="Create New Landmark" value="Create New Landmark">
</form>
